*{
    /* border: 1px solid black; */
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../data/photos/questions_page_photo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    width: 40%;
    height: 500px;
    background-color: #fff;
    overflow-y: scroll;
}
.box .question_box{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.box .question_box p{
    font-weight: 600;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: start;
}
.box .question_box .buttons{
    width: 100%;
    height: 20px;
}
.box .question_box .buttons input{
    height: 100%;
    width: 150px;
    border-radius: 15px;
    padding: 10px;
}
.box .question_box .buttons button{
    width: 100px;
    height: 100%;
    background-color: yellow;
    color: red;
    border: 1px solid yellow;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
}
.secret_word{
    margin-top: 10px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secret_word input{
    width: 200px;
    height: 25px;
    padding: 10px;
}
.secret_word button{
    width: 100px;
    height: 25px;
}